/* poppins font start*/
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Climate+Crisis&family=Kanit:ital,wght@0,700;1,400&family=Poppins:wght@500&family=Roboto+Condensed&display=swap');
/* poppins font end*/

/* universal designs starts*/
:root{
    --transition: all 0.3s ease;
}

*{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

h1{
    font-size: 45px;
}

h2{
    font-size: 35px;
}

h3{
    font-size: 25px;
}

p{
    font-weight: 700;
}

section{
    margin-bottom: 5rem;
}

hr {
    height: 1px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, black));
}

.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* universal designs ends*/

/* header section starts here */
.nav{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.navigation, .navigation__content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-right: 90px;
}

.nav__logo{
    margin: 0;
    transform: translate(-13.5rem, 0);
}

.fa-bars{
    display: none;
}

.navigation__items{
    text-decoration: none;
    font-weight: 700;
    color: black;
    transition: var(--transition);
}

.fa-magnifying-glass, .fa-cart-shopping{
    cursor: pointer;
    transition: var(--transition);
}

.navigation__items:hover,
.fa-magnifying-glass:hover,
.fa-cart-shopping:hover {
    transform: scale(1.2);
    cursor: pointer;
}
/* header section ends here */

/* intro section starts here */
.intro{
    margin-bottom: 5rem;
}

.intro__heading{
    margin-bottom: 1rem;
}

.fa-arrow-right{
    color: white;
}

.intro__btn{
    border: none;
    border-radius: 20px;
    background-color: rgb(253, 52, 86);
    padding: 0.5rem 1rem;
    color: white;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    transition: var(--transition);
}

.intro__btn:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.intro__img{
    padding: 1rem;
    margin: 0 90px;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    border: 1px solid rgb(223, 223, 223);
    transition: var(--transition);
}

.intro__img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#camera-img{
    z-index: 10;
    width: 25rem;
    transform: translate(-3rem, -2rem);
}


.camera-circle{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-color: rgb(223, 223, 223);
    transform: translate(2rem, 2.5rem);
    z-index: -5;
}

.companies{
    padding: 0.5rem;
    gap: 3rem;
}

.company{
    width: 75px;
    margin: 0;
    transition: var(--transition);
}

.company__portion{
    gap: 3rem;
}

.company:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.company-img{
    width: 75px;
    height: 75px;
}
/* intro section ends here */

/* popular collection starts here */
.popular__container{
    flex-direction: column;
}

.popular__heading{
    margin-bottom: 4rem;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 3rem;
    grid-column-gap: 3rem;
    margin-bottom: 2.5rem;
}

.card{
    border-radius: 8px;
    padding: 20px;
    box-shadow: 10px 10px 20px 10px rgb(223, 223, 223);
    transition: var(--transition);
}

.card:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.card__price{
    font-weight: 400;
}

.ratings{
    display: flex;
    justify-content: flex-start;
}

.rating{
    margin: 0 10px 0 0;
    color: gold;
}

#popular__more{
    text-align: end;
    margin-right: 100px;
}

#popular__arrow{
    color: rgb(253, 52, 86);
}

#popular__btn{
    font-size: 1rem;
    font-weight: 700;
    border: none;
    background-color: white;
    color: rgb(253, 52, 86);
    transition: var(--transition);
}

#popular__btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.fa-arrow-right{
    color: rgb(253, 52, 86);
}
/* popular collection ends here */

/* featured starts here */
.featured{
    gap: 5rem;
}

.featured__img{
    transition: var(--transition);
}

.featured__img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.featured__heading{
    margin-bottom: 1rem;
}

#featured__btn{
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    background-color: rgb(253, 52, 86);
    color: white;
    padding: 10px 20px;
    transition: var(--transition);
}

#featured__btn:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.fa-arrow-right{
    color: white;
}
/* featured ends here */

/* footer starts here */
footer{
    background-color: rgb(1, 1, 43);
}

.outro{
    flex-direction: column;
    color: white;
    padding: 2rem;
}

.outro__content{
    font-weight: 400;
}

.social-links{
    margin: 0.5rem 0.5rem;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    background-color: rgb(0, 0, 99);
    transition: var(--transition);
}

.social-links:hover{
    transform: scale(1.2);
    cursor: pointer;
}
/* footer ends here */

/* responsiveness starts here */
@media only screen and (max-width: 688px){
    /* nav starts here */

    .fa-bars{
        display: block;
        width: 2rem;
        padding: 0.5rem;
        cursor: pointer;
        margin-left: 1rem;
        transition: var(--transition);
    }

    .fa-bars:hover{
        transform: scale(1.2);
    }

    .navigation{
        gap: 0;
        margin-right: 0;
    }

    .nav__logo{
        margin: 0;
        transform: translate(0, 0);
    }

    .fa-cart-shopping{
        width: 1rem;
    }

    .navigation__items, .fa-magnifying-glass{
        display: none;
    }
    /* nav ends here */

    /* intro starts here */
    .intro{
        flex-direction: column-reverse;
    }

    .intro__img{
        margin: 2rem;
        transform: scale(0.8);
        transition: var(--transition);
    }

    .intro__img:hover{
        transform: scale(0.9);
    }

    .intro__content{
        transform: scale(0.8);
    }

    hr{
        display: none;
    }

    .companies{
        flex-direction: column;
        gap: 0.5rem;
    }

    .company__portion{
        gap: 1.5rem;
    }
    /* intro ends here */

    /* popular collection starts here */
    .cards{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 3rem;
    }

    #popular__more{
        margin-right: 2rem;
    }

    #popular__btn{
        margin-top: 1rem;
    }
    /* popular collection ends here */

    /* featured starts here */
    .featured{
        flex-direction: column-reverse;
        transform: scale(0.8);
    }
    /* featured starts here */
}
/* responsiveness ends here */