/* poppins font start*/
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Climate+Crisis&family=Kanit:ital,wght@0,700;1,400&family=Poppins:wght@500&family=Roboto+Condensed&display=swap');
/* poppins font end*/

/* universal designs starts*/
:root{
    --transition: all 0.3s ease;
}

*{
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
}

h1{
    font-size: 45px;
}

h3{
    font-size: 30px;
}

p{
    font-weight: 700;
}

.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* universal designs ends*/

/* header section starts here */
.nav{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    gap: 25rem;
}

.navigation, .navigation__content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.nav__logo{
    margin: 0 90px;
}

.navigation__items{
    text-decoration: none;
    font-weight: 700;
    color: black;
    transition: var(--transition);
}

.fa-magnifying-glass, .fa-cart-shopping{
    cursor: pointer;
    transition: var(--transition);
}

.navigation__items:hover,
.fa-magnifying-glass:hover,
.fa-cart-shopping:hover {
    transform: scale(1.2);
}
/* header section ends here */

/* intro section starts here */
.intro{
    margin-bottom: 3rem;
}

.intro__heading{
    margin-bottom: 1rem;
}

.fa-arrow-right{
    color: white;
}

.intro__btn{
    border: none;
    border-radius: 20px;
    background-color: rgb(253, 52, 86);
    padding: 0.5rem 1rem;
    color: white;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    transition: var(--transition);
}

.intro__btn:hover{
    transform: scale(1.2);
}

.intro__img{
    padding: 1rem;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    border: 1px solid rgb(223, 223, 223);
    transition: all 0.3s ease;
}

.intro__img:hover{
    transform: scale(1.1);
}

#camera-img{
    z-index: 10;
    transform: translate(0, -20rem);
}

.camera-circle{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-color: rgb(223, 223, 223);
    transform: translate(0, 2.5rem);
    z-index: -5;
}

.companies{
    padding: 0.5rem;
    gap: 5rem;
}

.company{
    width: 75px;
    margin: 0;
}
.company-img{
    width: 75px;
    height: 75px;
}
/* intro section ends here */